.game-button{
    width: 20%;
    height: 20%;
    outline: none;
}

.game-button:hover{
    transform: scale(1.1);
}

.game-button:active{
    filter: grayscale(100%);
}

#play-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 130px;
    padding-bottom: 20px;
}

.display-scores{
    display: inline-block;
    width: 500px;
    height: 200px;
    text-align: center;
    left: 50%;
    font-family: 'Roboto', sans-serif;
    border: 3px dotted red;
    line-height: 40px;
    border-radius: 30px;
}

#reset{
    font-family: 'Roboto', sans-serif;
}

#display-status{
    font-family: 'Roboto', sans-serif;
}
#wrapper{
    text-align: center;
}

.scoreboard{
    color: #5F6368;
}

#reset {
  position: relative;
  background-color: #4CAF50;
  border: none;
  border-radius: 30px;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  width: 500px;
  height: 200px;
  top: -203px;
  visibility: hidden;
}

#reset:hover{
    filter: brightness(120%);
}

#reset:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

#reset:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}